<div class="modal fade {{ MODAL }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Welcome to the new OneAmerica Employee Benefits website.</h4>
            </div>
            <div class="modal-body">
                <p>To access the information and features of this site, please login with your existing username and password.</p>
                <p>A quick reference site guide is linked on the home page for use as needed.</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
