<div class="{{ SUBSECTION_LOADING }}">
    <div style="position: relative;"></div>
</div>

<div class="{{ SUBSECTION_CSS }} {{ SUBSECTION_JS }}">
    <div class="row">
        <div class="col-xs-12">
            <p>Security Layout View</p>
        </div>
    </div>
</div>
