{{!-- rendered by the parent SecurityLayout view --}}
{{!-- when the data was saved. --}}
<h3>Success</h3>
{{#if MSG}}
    <p>{{ MSG }}</p>
{{else}}
    <p>Your information has been updated successfully.</p>
{{/if}}

{{#if REPEAT_TEXT}}
    <p><a href="#" class="{{ REPEAT_CLASS }}">{{ REPEAT_TEXT }}</a></p>
{{/if}}
