{{#if __generalError }}
    <p class="error">{{{ __generalError }}}</p>
{{/if}}

{{#if errors.__SERVICE }}
    <div class="col-xs-8 col-xs-offset-4">
        <p class="error"><span class="emphasis">Error: {{{ errors.__SERVICE }}}</span></p>
    </div>
{{/if}}

<div class="row">
    <div class="col-xs-12 form-group">
        <div class="pull-left col-xs-4">
            {{{ label 'Email Address' 'emailAddress' 'required' }}}
        </div>
        <div class="pull-right col-xs-8">
            {{{ emailInput emailAddress 'class:form-control' 'id:emailAddress' 'name:emailAddress' }}}
            {{{ label errors.emailAddress 'class:error' 'for:emailAddress' }}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 form-group">
        <div class="pull-left col-xs-4">
            {{{ label 'Confirm Email Address' 'confirmEmailAddress' 'required' }}}
        </div>
        <div class="pull-right col-xs-8">
            {{{ emailInput confirmEmailAddress 'class:form-control' 'id:confirmEmailAddress' 'name:confirmEmailAddress' }}}
            {{{ label errors.confirmEmailAddress 'class:error' 'for:confirmEmailAddress' }}}
        </div>
    </div>
</div>

{{!-- will hold the collection of questions --}}
<div class="row {{ QUESTIONS_WRAPPER }}">
    {{#each securityQuestionsClone }}
        <div class="col-xs-12 form-group">
            <div class="pull-left col-xs-4">
                {{{ label question FOR 'required' }}}
            </div>
            <div class="pull-right col-xs-8">
                {{{ textInput answer 'class:form-control' FOR NAME }}}
                {{{ label ERROR 'class:error' FOR }}}
            </div>
        </div>
    {{/each}}
</div>

<div class="row form-group">
    <input class="btn btn-default {{ SUBMIT }}" type="submit" value="Submit""/>
    <input class="btn btn-default" type="reset" value="Reset""/>
</div>
