{{#if __generalError }}
    <p class="error">{{{ __generalError }}}</p>
{{/if}}

{{> passwordReqs }}

{{#if errors.__SERVICE }}
    <div class="col-xs-8 col-xs-offset-4">
        <p class="error"><span class="emphasis">Error: {{{ errors.__SERVICE }}}</span></p>
    </div>
{{/if}}

<div class="row">
    <div class="col-xs-12 form-group">
        <div class="pull-left col-xs-4">
            {{{ label 'New password' 'for:newPassword' 'required' }}}
        </div>
        <div class="pull-right col-xs-8">
            {{{ passwordInput newPassword 'class:form-control' 'id:newPassword' 'name:newPassword' }}}
            {{{ label errors.newPassword 'class:error' 'for:newPassword' }}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 form-group">
        <div class="pull-left col-xs-4">
            {{{ label 'Confirm new password' 'for:confirmEmailAddress' 'required' }}}
        </div>
        <div class="pull-right col-xs-8">
            {{{ passwordInput confirmNewPassword 'class:form-control' 'id:confirmNewPassword' 'name:confirmNewPassword' }}}
            {{{ label errors.confirmNewPassword 'class:error' 'for:confirmNewPassword' }}}
        </div>
    </div>
</div>

<div class="row form-group">
    <button class="btn-u {{ SUBMIT }}" type="submit"
            {{#if SUBMIT_DISABLED}}
            disabled="disabled"
            {{/if}}
            >Submit</button>
    <button class="btn-u {{ RESET }}" type="reset">Reset</button>
</div>
