{{#if __generalError }}
    <p class="error">{{{ __generalError }}}</p>
{{/if}}

{{#if errors.__SERVICE }}
    <div class="col-xs-8 col-xs-offset-4">
        <p class="error"><span class="emphasis">Error: {{{ errors.__SERVICE }}}</span></p>
    </div>
{{/if}}

{{!-- will hold the collection of questions --}}
<div class="row {{ QUESTIONS_WRAPPER }}">
    {{#each securityQuestionsClone }}
        <div class="col-xs-12 form-group">
            <div class="pull-left col-xs-4">
                {{{ label question FOR 'required' }}}
            </div>
            <div class="pull-right col-xs-8">
                {{#if states }}
                    {{{ select states answer 'class:form-control' NAME }}}
                {{ else }}
                    {{{ textInput answer 'class:form-control' NAME MAXLENGTH }}}
                {{/if}}
                {{{ label ERROR 'class:error' FOR }}}
            </div>
        </div>
    {{/each}}
</div>

<div class="row form-group">
    <button class="btn-u {{ SUBMIT }}" type="submit"
            {{#if SUBMIT_DISABLED}}
            disabled="disabled"
            {{/if}}
            ">Submit</button>
    <button class="btn-u {{ RESET }}" type="reset">Reset</button>
</div>
