{{#if __generalError }}
    <p class="error">{{{ __generalError }}}</p>
{{/if}}

{{#if errors.__SERVICE }}
    <div class="col-xs-8 col-xs-offset-4">
        <p class="error"><span class="emphasis">Error: {{{ errors.__SERVICE }}}</span></p>
    </div>
{{/if}}

<div class="row form-group">
    <div class="col-xs-12">
        <div class="pull-left col-xs-2">
            {{{ label 'User ID' 'for:userId' 'required' }}}
        </div>
        <div class="pull-left col-xs-3">
            {{{ textInput userId 'class:form-control' 'id:userId' 'name:userId' }}}
            {{{ label errors.userId 'class:error' 'for:userId' }}}
        </div>
    </div>
</div>

<!-- __RECAPTCHA__ -->
<div class="row form-group">
    <div class="col-xs-12">
        <div class="pull-left col-xs-2">
            &nbsp;
        </div>
        <div class="pull-left col-xs-3">
            <p class="{{ RECAPTCHA_LOADING }}">Captcha loading. &nbsp;Please wait.....</p>
            <div id="{{ RECAPTCHA_WRAPPER }}">
            </div>
            {{{ label errors.captcha 'class:error' 'for:captcha' }}}
        </div>
    </div>
</div>

<div class="row form-group">
    <button class="btn-u {{ SUBMIT }}" type="submit"
            {{#if SUBMIT_DISABLED}}
            disabled="disabled"
            {{/if}}
            >Submit</button>
    <button class="btn-u {{ RESET }}" type="reset">Reset</button>
</div>
