<div class="page-header">

<h1>This is the view for Alerts</h1>
</div>

  {{#each alerts}}
    {{> alerts-alert-item messageType=this.messageType alert=this alertText=this.message }}
  {{else}}

  <p class="lead"> There are no alerts to display. </p>
  {{/each}}
</div>
<div class="page-header">

<h1>Add Alert</h1>
</div>
<input type="text" id="newAlertText" class="form-control" placeholder="What should we say?">
<br>


<button class="btn btn-primary" id="addAlert">New Alert</button>
</div>
