<!-- src/apps/footer/templates/footer.hbs -->
<div class="footer-inner">
    <div class="footer-content">
        <div class="row">
            <div class="col-xs-12">
                <p>OneAmerica is the marketing name for American United Life Insurance Company&reg; (AUL). Products and financial services issued and underwritten by AUL.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <p><a href="https://www.oneamerica.com/policies/legal-disclaimers" target="blank">Legal Disclaimers and Terms of Use <i class="ace-icon fa fa-external-link"></i></a></p>
                <p><a href="https://www.oneamerica.com/policies/privacy-policy" target="blank">Our Privacy Statement <i class="ace-icon fa fa-external-link"></i></a></p>
            </div>
            <div class="col-md-7">
                <p>The companies of OneAmerica</p>
                <p>&copy; 2002 to 2015, OneAmerica&reg;, all rights reserved</p>
                <img src="../images/logo-footer-oa.gif" alt=""> </div>
        </div>
    </div>
    <!-- /.footer-content -->
</div>
<!-- /.footer-inner -->
