<div class="row form-group">

    <div class="col-xs-12">

        <p>Please help us to protect your information. Passwords must:</p>

        <div class="row-fluid">

            <div class="col-xs-6">
                <small>
                    <ul>
                        <li>Contain a minimum of {{ PASSWORD_MIN }} characters</li>
                        <li>Contain a maximum of {{ PASSWORD_MAX }} characters</li>
                        <li>Not contain a space</li>
                        <li>Not match your User ID</li>
                    </ul>
                </small>
            </div>

            <div class="col-xs-6">
                <small>
                    <ul>
                        <li>Contain at least two of the following:
                            <ul>
                                <li>alphabetical character (a, b, c, etc.)</li>
                                <li>numeric character (1, 2, 3, etc.)</li>
                                <li>special characters ({{ SPECIAL_CHARS }})</li>
                            </ul>
                        </li>
                    </ul>
                </small>
            </div>

        </div>

    </div>

</div>

<div class="row form-group">

    <div class="col-xs-12">

        <p>To provide additional protection of your information, we recommend that your password:</p>
        <small>
            <ul>
                <li>Not use the same character or sequence of characters more than twice consecutively (e.g., aaa, 111, @@@, 123123123)</li>
                <li>Not contain portions of your User ID</li>
                <li>Not match any of the information you provided to verify your identity in the event you forget your password on our system</li>
                <li>Be changed every 90 days. (Reuse of the past six expired passwords is discouraged.)</li>
            </ul>

        </small>

        <p>You will be locked out after three unsuccessful attempts at entering your current password.</p>

    </div>

</div>
