<!-- src/apps/navbar/navbar.hbs -->

<div class="navbar-container container" id="navbar-container">

    {{> navbar-mobile-toggle }}

    {{> navbar-header }}

    {{#if this.role }}
        {{> navbar-dropdown }}
    {{/if}}

</div>
