<!-- src/apps/content/changePassword/changePassword-layout-t.hbs -->

{{#if __generalError }}
    <div class="row error">
        <div class="col-xs-12">
            <h3 class="error"><span class="emphasis">Error</span></h3>
            <p class="error">{{{ __generalError }}}</p>
        </div>
    </div>
{{/if}}

<div class="{{ SUBSECTION_LOADING }}">
    <div style="position: relative;"></div>
</div>

<div class="{{ SUBSECTION_CSS }} {{ SUBSECTION_JS }}"></div>
