{{#if __generalError }}
    <p class="error">{{{ __generalError }}}</p>
{{/if}}

{{> passwordReqs }}

{{#if errors.__SERVICE }}
    <div class="col-xs-8 col-xs-offset-4">
        <p class="error"><span class="emphasis">Error: {{{ errors.__SERVICE }}}</span></p>
    </div>
{{/if}}

<div class="row form-group">
    <div class="pull-left col-xs-4">
        {{{ label 'Enter your current password' 'for:currentPassword' 'required' }}}
    </div>
    <div class="pull-left col-xs-6">
        {{{ passwordInput currentPassword 'class:form-control' 'id:currentPassword' 'name:currentPassword' 'maxLength:20' }}}
        {{{ label errors.currentPassword 'class:error' 'for:currentPassword' }}}
    </div>
</div>

<div class="row form-group">
    <div class="pull-left col-xs-4">
        {{{ label 'New Password' 'for:newPassword' 'required' }}}
    </div>
    <div class="pull-left col-xs-6">
        {{{ passwordInput newPassword 'class:form-control' 'id:newPassword' 'name:newPassword' 'maxLength:20' }}}
        {{{ label errors.newPassword 'class:error' 'for:newPassword' }}}
    </div>
</div>

<div class="row form-group">
    <div class="pull-left col-xs-4">
        {{{ label 'Confirm new password' 'for:confirmNewPassword' 'required' }}}
    </div>
    <div class="pull-left col-xs-6">
        {{{ passwordInput confirmNewPassword 'class:form-control' 'id:confirmNewPassword' 'name:confirmNewPassword' 'maxLength:20' }}}
        {{{ label errors.confirmNewPassword 'class:error' 'for:confirmNewPassword' }}}
    </div>
</div>

<div class="row form-group">
    <button class="btn-u {{ SUBMIT }}" type="submit"
            {{#if SUBMIT_DISABLED}}
            disabled="disabled"
            {{/if}}
            >Submit</button>
    <button class="btn-u {{ RESET }}" type="reset">Reset</button>
</div>
