{{#if __generalError }}
    <p class="error">{{{ __generalError }}}</p>
{{/if}}

<div class="row form-group">

    <div class="col-xs-12">

        <p>Your new User ID:</p>

        <div class="row-fluid">

            <div class="col-xs-6">
                <small>
                    <ul>
                        <li>Must be at least {{ USERID_MIN }} characters (minimum), {{ USERID_MAX }} maximum</li>
                        <li>Must end with a letter or number (not symbol)</li>
                        <li>Cannot contain nine (9) consecutive numbers</li>
                        <li>Cannot match a previously used ID</li>
                        <li>Cannot match your password</li>
                    </ul>
                </small>
            </div>

            <div class="col-xs-6">
                <small>
                    <ul>
                        <li>Allows the following symbols:
                            <ul>
                                <li>hyphen (-)</li>
                                <li>underline (_)</li>
                                <li>period (.)</li>
                                <li>at (@)</li>
                            </ul>
                        </li>
                    </ul>
                </small>
            </div>

        </div>

        <p>Please note that you <strong>cannot</strong> changed to a User ID that has been used before, whether it was used by your account or used by someone else's account.</p>

        <p>You will be locked out after three unsuccessful attempts at entering your current password.</p>

    </div>

</div>

{{#if errors.__SERVICE }}
    <div class="col-xs-8 col-xs-offset-4">
        <p class="error"><span class="emphasis">Error: {{{ errors.__SERVICE }}}</span></p>
    </div>
{{/if}}

<div class="row form-group">
    <div class="pull-left col-xs-4">
        {{{ label 'New User ID' 'for:newUserId' 'required' }}}
    </div>
    <div class="pull-left col-xs-6">
        {{{ textInput newUserId 'class:form-control' 'id:newUserId' 'name:newUserId' 'maxLength:64' }}}
        {{{ label errors.newUserId 'class:error' 'for:newUserId' }}}
    </div>
</div>
<div class="row form-group">
    <div class="pull-left col-xs-4">
        {{{ label 'Confirm New User ID' 'for:confirmNewUserId' 'required' }}}
    </div>
    <div class="pull-left col-xs-6">
        {{{ textInput confirmNewUserId 'class:form-control' 'id:confirmNewUserId' 'name:confirmNewUserId' 'maxLength:64' }}}
        {{{ label errors.confirmNewUserId 'class:error' 'for:confirmNewUserId' }}}
    </div>
</div>
<div class="row form-group">
    <div class="pull-left col-xs-4">
        {{{ label 'Enter your password' 'for:password' 'required' }}}
    </div>

    <div class="pull-left col-xs-6">
        {{{ passwordInput password 'class:form-control' 'id:password' 'name:password' }}}
        {{{ label errors.password 'class:error' 'for:password' }}}
    </div>
</div>

<div class="row form-group">
    <button class="btn-u {{ SUBMIT }}" type="submit"
            {{#if SUBMIT_DISABLED}}
            disabled="disabled"
            {{/if}}
            >Submit</button>
    <button class="btn-u {{ RESET }}" type="reset">Reset</button>
</div>
