/****************************************************************************************
   Copyright (c) 2014 OneAmerica

   AUTHOR Ben Rondot

   DATE		NAME		DESCRIPTON
   11/05/2014	Ben Rondot	Initial creation.

 ****************************************************************************************/

@media (min-width: 1200px) {

    /****************************
     * One Day is Today (ODiT) education section
     ***************************/

    .odit-overview-info-panel .line1 {
        font-style:italic;
    }

    .odit-overview-info-panel .line2 {
        margin: 5px 0 15px 0;
        font-size: 32px;
        line-height: 32px;
    }

    .odit-overview-info-panel .line3 {
        margin: 0 0 0 40%;
    }

    .odit-overview-info-panel .line3 span {
        font-size: 24px;
        font-style: italic;
    }

    /* ODiT tabs
       ------------------------------------*/

    #nav-tabs-odit .nav-tabs h4 {
        font-size: 24px;
    }

}

@media (min-width: 768px) and (max-width: 979px) {

    /****************************
     * Modals
     ***************************/

    /* Modal supersize updates, so it is responsive
       ------------------------------------*/

    .modal .running-total-container-static {  /*"Percentage Left to Allocate: 100%" in the modal header */
        margin: 4px 48px 0 0;
    }

    .running-total {
        width: 265px;
        font-size: 16px;
    }

    /****************************
     * One Day is Today (ODiT) education section
     ***************************/

    /* ODiT circles navigation
       ------------------------------------*/

    .odit-circles {
        top: -8px;
    }

    .odit-circles-footer {
        top: 0;
    }

    .odit-circles li a {
        width: 55px;
        height: 55px;
        background-size: 55px 55px;
    }

    /* ODiT Overview header
       ------------------------------------*/

    .h-odit-overview-pete { /* Picture of Pete */
        position:absolute;
        bottom: 0;
        right: 5%;
    }

    .odit-overview-info-panel {
        left: 0px;
        width: 80%;
    }

    .odit-overview-info-panel .odit-overview-info-panel-copy {
        margin: 20px 0 0 50px;
        color: #fff;
        font-family: 'Open Sans';
    }

    .odit-overview-info-panel .line2 {
        margin: 5px 0 10px 0;
        font-size: 21px;
        line-height: 21px;
    }

    .odit-overview-info-panel .line3 {
        margin: 0 0 0 0;
    }

    .odit-overview-info-panel .line3 span {
        font-size: 14px;
    }

    .odit-overview-info-panel:before { /* delete the triangle */
	    border-top:none;
	    border-left:none;
    }


    /* ODiT tabs
       ------------------------------------*/

    #nav-tabs-odit .nav-tabs h4 {
        font-size: 18px;
    }


    /* Distribution Option tabs
       ------------------------------------*/

    #nav-tabs-odit.nav-tabs-distribution-option .nav-tabs h4 {
        font-size: 18px;
    }

}

@media (max-width: 767px) {

    /****************************
     * Modals
     ***************************/

    /* Modal supersize updates, so it is responsive
       ------------------------------------*/

    .modal .running-total-container-static {
        margin: 14px 0 0 0;
        float: none;
    }

    .running-total {
        width: auto;
    }

    /* Modal updates, so it is responsive
       ------------------------------------*/
    .modal-dialog {
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }

    /* Modals with "label-grid"
       ------------------------------------*/
    /* The left margin should be 0 once the "label-grid"'s stack. */
    .modal-body .row-fluid [class*="span"] {
        margin-left: 0;
    }

    /****************************
     * One Day is Today (ODiT) education section
     ***************************/

    /* ODiT circles navigation
       ------------------------------------*/
    .odit-circles {
        position: relative;
        margin: 15px 0 0 10px;
    }

    .odit-circles li a {
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
    }

    /* ODiT Overview header
       ------------------------------------*/

    .h-odit-overview-pete { /* Picture of Pete */
        position:absolute;
        bottom: 0;
        right: 5%;
    }

    .odit-overview-info-panel {
        left: 0px;
        width: 80%;
    }

    .odit-overview-info-panel .odit-overview-info-panel-copy {
        margin: 20px 100px 0 20px;
        color: #fff;
        font-family: 'Open Sans';
    }

    .odit-overview-info-panel .line2 {
        margin: 5px 0 10px 0;
        font-size: 21px;
        line-height: 21px;
    }

    .odit-overview-info-panel .line3 {
        margin: 0 0 0 0;
    }

    .odit-overview-info-panel .line3 span {
        font-size: 14px;
    }

    .odit-overview-info-panel .btn {
        left: 20px;
    }

    .odit-overview-info-panel:before { /* delete the triangle */
	    border-top:none;
	    border-left:none;
    }


    /* ODiT tabs
       ------------------------------------*/

    #nav-tabs-odit .nav-tabs h4 {
        font-size: 14px;
        margin: 5px 0;
    }

    #nav-tabs-odit .nav-tabs i {
        margin: 10px 0 0;
    }

    #nav-tabs-odit .nav-tabs > li > a {
        background-image: none;
    }

    /* Distribution Option tabs
       ------------------------------------*/

    #nav-tabs-odit.nav-tabs-distribution-option .nav-tabs > li > a {
        height: auto;
    }

    #nav-tabs-odit.nav-tabs-distribution-option .nav-tabs h4 {
        font-size: 14px;
        margin: 10px 0px 10px;
    }

    /* ODiT Overview "Estimate Your Need"
       ------------------------------------*/

    /* "Estimate Your Need" button */
    #estimate-need button.btn-large {
        font-size: 14px;
        line-height: 18px;
    }

    button.btn-large [class^="glyphicon-"]:before,
    button.btn-large  [class*=" glyphicon-"]:before {
        font: 15px/14px "Glyphicons";
    }

}

@media (max-width: 480px) {

    /****************************
     * Modals
     ***************************/

    /* Modal supersize updates, so it is responsive
       ------------------------------------*/

    .modal .running-total-container-static {
        margin: 14px 0 0 0;
    }

    .running-total {
        width: auto;
    }

    /* Modal updates, so it is responsive
       ------------------------------------*/
    .form-horizontal .control-label { /* responsive form fields */
        width: auto;
        float: none;
    }

    .form-horizontal .controls { /* responsive form fields */
        margin-left: 0;
    }

    /****************************
     * One Day is Today (ODiT) education section
     ***************************/

    /* ODiT Overview header
       ------------------------------------*/

    .h-odit-overview-pete { /* Picture of Pete */
        display: none;
    }

    .odit-overview-info-panel {
        position:relative;
        width: 100%;
    }

    .odit-overview-info-panel .odit-overview-info-panel-copy {
        margin: 20px 20px 0 20px;
        padding: 10px 0 0 0;
    }


    /* ODiT tabs
       ------------------------------------*/
    #nav-tabs-odit .nav-tabs h4 {
        display: none;
    }

    #nav-tabs-odit .nav-tabs i {
        margin: 5px 0 0;
    }

    #nav-tabs-odit .nav-tabs > li > a {
        height: auto;
    }

    #nav-tabs-odit .nav-tabs [class^="glyphicon-"]:before,
    #nav-tabs-odit .nav-tabs [class*=" glyphicon-"]:before {
	    font: 24px/24px 'Glyphicons';
    }

    #nav-tabs-odit.nav-tabs-distribution-option .nav-tabs p {
        font-size: 12px;
        margin: 10px 0;
    }

    /* Distribution Option tabs
       ------------------------------------*/

    #nav-tabs-odit.nav-tabs-distribution-option .nav-tabs h4 {
        display: block;
        font-weight: bold;
    }

    #nav-tabs-odit.nav-tabs-distribution-option .nav-tabs h4 span {
        display: none;
    }

}
