/* Styles used from Account Services */

.well { border-radius: 0; }
.well h1,.well h2,.well h3,.well h4,.well h5,.well h6 { margin-top: 0; }
.well h1,.well h2,.well h3 { line-height: 36px; }
.well-white-border-top {
    display: block;
    position: relative;
    background-color: #FFFFFF;
    border-top: 1px solid #999999;
    border-radius: 0;
    margin: 0;
    padding: 0;
    min-height: 20px;
}
.border-notch-white:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 63px;
    height: 26px;
    background-image: url(../images/CAP-WHITE.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 10;
}
.border-notch-grey:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 63px;
    height: 25px;
    background-image: url(../images/CAP-GREY.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 4;
}
.modal-header .border-notch-grey:before {
    bottom: -25px;
    top: auto;
}
.border-notch-blue:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 63px;
    height: 25px;
    background-image: url(../images/notch-blue.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 4;
}
.modal-header .border-notch-blue:before {
    bottom: -25px;
    top: auto;
}
.well-white-no-border {
    background-color: #FFFFFF;
    margin: 0 0 0px 0;
    min-height: 20px;
    padding: 19px;
}

.well-white-no-border {
    background-color: #FFFFFF;
    margin: 0 0 0px 0;
    min-height: 20px;
    padding: 19px;
}
.well-white {
    background-color: #FFFFFF;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.well-grey {
    background-color: #f7f7f7;
    border-top: 1px solid #f7f7f7;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.well-grey-border-dotted {
    background-color: #f0f0f0;
    border-top: 1px solid #999999;
    border-radius: 0;
    margin: 20px 0;
    min-height: 20px;
}
.well-grey-no-border {
    background-color: #f0f0f0;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin: 0 0 20px 0;
    min-height: 20px;
    padding: 19px;
}
.well-grey-border {
    background-color: #f0f0f0;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin: 0 0 20px 0;
    min-height: 20px;
    padding: 19px;
    border: 1px solid #999999;
    border-top: 0px;
}
.well-grey-tout{
    background-color: #f0f0f0;
    border: 1px solid #ffffff;
    border-top-color: #999999;
    border-radius: 0;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 0 0 20px 0;
    min-height: 20px;
    padding: 19px;
}
.well-dark-blue {
    background-color: #023d69;
    color: #fff;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin: 14px 0 0;
    min-height: 20px;
    padding: 9px 16px;
    font-size: 12px;
}
.lead {
    font-size: 18px;
    line-height: 25px;
}

.tabs ul {
    position: relative;
    margin-right: 20px;
    border: 0px;
}
.tabs li {
    height: 35px;
}
.tabs li.active {
    height: 36px;
    position: relative;
    top: 1px;
}
.tab-content {
  padding: 12px 12px 16px 12px;
  z-index: 11;
}

.tabbable:before, .tabbable:after {
    display: table;
    line-height: 0;
    content: "";
}

.row-fluid [class*="span"]:first-child {
	margin-left: 10px;
	float: left;
}

d1.faq .span1 {
	width: 28px;
	float: left;
}

d1 {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

d1.faq .span11 {
	margin-left: 14px;
	float: left;
}

d1.faq {
	position: relative;
	margin-top: 0;
}

d1.faq dt {
	margin: 2px 0 5px;
}

d1.faq dd {
	margin-top: -3px;
	margin-left: 0px;
}

d1.faq .label {
	width: 20px;
	height: 20px;margin: 0 0 7px;
	padding-top: 4px;
	text-align: center;
	font-size: 150%;
}

d1.faq .faq-icon {
	text-align: right;
}

@media only screen and (max-width: 767px) {
	d1.faq .faq-icon {
		text-align: left;
	}
}

d1.faq .faq-hr {
	line-height: 2px;
	height: 2px;
	margin: 0 0 10px 0;
	border-bottom: 1px dotted #C5D0DC;
}

.label {
	border-radius: 0;
	text-shadow: none;
	font-size: 11px;
	font-weight: normal;
	margin: 5px 0 0 0;
}

.label[class*="span"][class*="arrow"] {
	min-height: 0;
}

.collapse {
	background-color: #FFF;
}

.toggleall i {
	float: left;
}

.acc-content {
	margin-top: 6px;
	display: none;
}

.acc-toggle {
	cursor: pointer;
}

.acc-toggle i {
	margin-right: 10px;
}

.tab-content > .active,
.pill-content > .active {
	display: block;
}

.tab-content > .tab-pane,
.pill-content > pill-pane {
	display: none;
}


@media (min-width:1200px) {
	.row-fluid:before, .row-fluid:after {
		display: table;
		line-height: 0;
		content: "";
	}
}

.row-fluid:before, row-fluid:after {
	display: table;
	line-height: 0;
	content: "";
}

dt {
	font-weight: bold;
}

dt {
	display: block;
}

.acc-toggle:hover {
	color: #0088CC;
}

@media (min-width: 1200px) {
	.row-fluid:after {
		clear: both;
	}
}

html, html .halflings {
	-webkit-font-smoothing: anitaliased;
}

	
.tab-content-section {
	border-left: 1px solid #C5D0DC;
	border-right: 1px solid #C5D0DC;
	border-bottom: 1px solid #C5D0DC;
	padding: 19px;
}

.no-padding-top {
	padding-top: 0px;
}

.tab-content {
	overflow: auto;
}