<!-- src/apps/content/partials/content-image.hbs -->
{{#each data.images}}
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 20px" >
            <img src="{{ image }}" class="odit-header" alt="" style="width: 100%" />
        </div>
    </div>
{{/each}}
