<!-- src/apps/content/partials/content-quicklinks.hbs -->
<div class="well well-lg" style="background-color: #F0F0F0;">
    <div class="row">
        {{#each data.quickLinks }}
            <div style="margin-top: 10px;" class="col-xs-12 col-sm-{{ ../COL_SIZE}} hover-calltoaction ">
                <div class="center quickLinks">
                    <a href="{{{ linkCheck link }}}">
                        {{{ quickLinksGlyphicons type }}}
                        <h5 class="dark">{{ heading }}</h5>
                    </a>
                    {{{ text }}}
                </div>
            </div>
        {{/each}}
    </div>
</div>
