<!-- src/apps/content/partials/content-subsection-content.hbs -->
{{#each data.subSectionContent }}
    <div class="well-white-border-top border-notch-white">
        <div class="well-white-no-border note-content">
            <h4>
                {{{ heading }}}
            </h4>
            <div class="row-fluid">
                <p>{{{ text }}}</p>
            </div>
        </div>
    </div>
{{/each}}
