<!-- src/apps/content/partials/content-media-content.hbs -->
<div class="col-xs-11 col-md-6">
    <div class="mediablock">
        <div class="media">
            <a href="{{ link }}" class="pull-left no-border displayContent" target="_blank">
                <i class="glyphicons glyphicons-{{ type }}"></i>
            </a>
            <div class="media-body">
                <a href="{{ link }}" target="_blank">
                    <h5 class="media-heading">{{ heading }}</h5>
                </a>
                {{{ text }}}
            </div>
        </div>
    </div>
</div>
