<!-- src/apps/content/partials/content-section-content.hbs -->
{{#each data.sectionContent }}
    <div class="widget-header widget-header-flat">
        <h4 class="widget-title lighter">
            <i class="ace-icon fa fa-users"></i>
            {{{ heading }}}
        </h4>
    </div>
    <div class="well well-lg" style="background-color: #F0F0F0;">
        <p>{{{ text }}}</p>
    </div>
{{/each}}
