<li class="{{class}}">
    {{#if this.subItems}}
        <a class="dropdown-toggle" href="{{this.link}}">
    {{else}}
        <a href="{{this.link}}">
    {{/if}}
        <i class="menu-icon fa {{sidebarIcon this.icon}}"></i>
        <span class="menu-text">{{this.item}}</span>
        {{#if this.subItems}}
            <b class="arrow fa fa-angle-down"></b>
        {{/if}}
    </a>

    {{#if this.subItems}}
        <ul class="submenu">

            {{#each this.subItems}}
                {{> sidebar-nav-menu-item }}
            {{/each}}

        </ul>
    {{/if}}
</li>
