<!-- src/apps/content/partials/homepage-image-p.hbs -->
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 20px" >
                <img src="{{ image }}" class="odit-header" alt="" style="width: 100%" >
            </div>
        </div>
    </div>
</div>
