<!-- src/apps/sidebar/partials/sidebar-nav-submenu.hbs -->
<ul class="submenu">
    {{> sidebar-nav-submenu-item item="Sublink"}}
    {{> sidebar-nav-submenu-item item="Sublink"}}
    {{> sidebar-nav-submenu-item item="Sublink"}}
</ul>
