<!-- src/apps/sidebar/partials/sidebar-nav-menu-item.hbs -->
<li class="{{class}}">
    {{#if this.subItems}}
        <a class="dropdown-toggle" href="#">
    {{else}}
        <a data-title="{{ this.displayText }}" href="#{{ this.link }}">
    {{/if}}
    {{#if (glyphiconCheck this.link)}}
        <i class="menu-icon glyphicons glyphicons-{{ this.icon }}"></i>
        {{ else }}
        <i class="menu-icon fa fa-{{ this.icon }}"></i>
    {{/if}}
        <span class="menu-text">{{this.displayText}}</span>
        {{#if this.subItems}}
            <b class="arrow fa fa-angle-down"></b>
        {{/if}}
    </a>

    {{#if this.subItems}}
        <ul class="submenu">

            {{#each this.subItems}}
                {{> sidebar-nav-menu-item }}
            {{/each}}

        </ul>
    {{/if}}
</li>
