// TEMP fixes

.quickLinks {

    .glyphicons {
        line-height: 1.5;
    }

}

.ace-nav {
    height: auto;
}

.sidebar.sidebar-fixed {
    top: 45px;
}

.main-content {

    min-height: inherit;

    .contentapp-region-section {

        min-height: 150px;

    }

}
.label.faq-answer {
	background: #82af6f;
    font-size: 150%;
    width: 30px;
    height: 30px;
    margin: 0 0 7px;
    padding-top: 6px;
    text-align: center;
    display: inline-block;
    padding: 2px 4px;
    white-space: nowrap;
    vertical-align: baseline;
}
.label.faq-question {
    background-color: #4c8fbd;
    font-size: 150%;
    width: 30px;
    height: 30px;
    margin: 0 0 7px;
    padding-top: 6px;
    text-align: center;
    display: inline-block;
    padding: 2px 4px;
    white-space: nowrap;
    vertical-align: baseline;
}

.span1.faq-icon {
    float: left;
    padding-right: 7px;
    clear: both;
}

.span11 {
	float: left;
    position: relative;
    display: block;
    width: 91.4894%;
}

.faq .span11 dt a{}

.tab-content-section {
    border-top: 1px solid rgb(197, 208, 220) !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

.tab-content {
    border: none;
}

.tabs ul.nav-tabs { margin-right: 1px !important;}

dl.faq {
    margin-top: 0px;
    margin-bottom: 25px;
    height: auto;
    clear: both;
}

.well-grey-no-border {
    background-color: #F0F0F0;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin: 0px 0px 20px;
    min-height: 20px;
    padding: 35px 1px 1px 19px;
}

.user-info-noname {
    vertical-align: super;
}

// FAQ pages
.tabs li, .tabs li.active{
    height: 35px;
}

.shorttabs li, .shorttabs li.active{
    height: 53px;
}


.shorttabs {

    .nav-tabs > li {
        width: 125px;
    }

}

@media only screen and (max-width:768px) {

    .navbar:not(.navbar-collapse) .ace-nav { text-align:right;}
    .nav-tabs > li {width: 100% !important;}
    .tabs li, .tabs li.active{
        height: 38px;
    }
    .media-left, .media-right, .media-body {
        display: block;
        vertical-align: top;
        width: 100% !important;
        font-size: 12px;
    }

}

// Modal
.modal {
    top: 30%;
}

.modal-backdrop {
    width: 100% !important;
    height: 100% !important;
    z-index: 1039;
}

// Forms
.form-control {
    margin-bottom: 5px;
}
