// Used in the login template

.span9 h3 a {
	text-decoration: none;
}

/*Button Style*/
.btn-u {
	border:0;
	font-size:14px;
	cursor:pointer;
	padding:5px 13px;
	position:relative;
	background:#023d69; /* banner blue */
	display:inline-block;
	color:#fff !important;
	text-decoration:none !important;
}
.btn-u:hover {
	color:#fff;
	background:#59798f;
	text-decoration:none;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

.btn-u-small {
	padding:3px 12px;
}
.btn-u-large {
	font-size:18px;
	padding:10px 25px;
}
a.btn-u {
	padding:4px 13px;
	vertical-align:middle;
}
a.btn-u-small {
	padding:2px 12px;
}
a.btn-u-large {
	font-size:18px;
	padding:6px 25px;
}



.login { /* Login wrapper */
	background: #f7f7f7;
	border-top: 2px solid #023d69;
	border-bottom: 6px solid #C4B796;
    margin: 0;
	padding: 0;
}

.login .headline { /* .headline contains the h3 */
	margin: 10px 0 20px 0;
}

.login .headline h3 {
    border-bottom: 2px solid #023d69;
}

.login form {
    margin: 0;
}


label.checkbox {
	font-size: 12px;
	color: #555;
}

.login .span4 .btn {
    display: block;
}

.login button[type="logout"] { /* Logout button inside login component */
    margin: 0 0 20px 0;
}

.popover-content {
    font-size: 14px;
	line-height: 21px;
}

/* .form-inline contains the login fields */

.form-inline {
}

.form-inline .input-medium {
	width: 90px;
}

.form-inline .password {
	margin: 0 0 0 10px;
}

.form-inline label {
}

.form-inline input {
}

p.mcak {
	margin: 10px 0 20px 0;
	border-top: 1px solid #ccc;
}

.fauxlink { /* A link which activates jQuery or css animation still needs to look like an link */
	text-decoration: underline;
	color: #023d69;
	cursor: pointer;
	font-size: 12px;
	text-align: right;
	margin: 0;
}

.fauxlink:hover {
	text-decoration: none;
	color: #59798F;
}

.login p.help {
	margin: 5px 0;
}

.login ul li { /* li within login widget */
	font-size: 12px;
}

.login ul li { /* li within login widget */
	font-size: 14px;
}

.login ul li a { /* li a within login widget */
	font-size: 14px;
}

.login .radio, .login .checkbox { /* This effects IE8-IE10 only */
	padding-left: 0;
	min-height: auto;
}

/* Login logged-in version */

#loggedIn h3 {
    padding-bottom: 2px;
}

#loggedIn ul {
    margin: 0 0 20px 20px;
}

#loggedIn button {
	margin: 0 0 20px 20px;
}

#loggedIn li {
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 10px 0;
}

#loggedIn li a {
    font-size: 14px;
	color: #023D69;
	text-decoration: underline;
}

#loggedIn li a:hover {
	text-decoration: none;
}


