// Used in the products template

.mediablock {

    // Container
    .media {
        margin-bottom: 20px;
    }

    // heading
    h5 {
        font-weight: bold;
    }

    // icon
    a .glyphicons:before {
        text-decoration: inherit;
        display: inline-block;
        font: 36px/36px "Glyphicons Regular";
        color: #023D69;
        opacity: .75;
        border: 1px solid #ccc;
        background: #fff;
        padding: 15px;
    }

    a:hover .glyphicons:before {
        color: #005580
    }

}
