<div class="alert alert-info" role="alert">
<i class="fa {{messageType}}"></i>
{{alertText}}
<div class="pull-right" id="deleteButton" data-id="{{this.id}}"> <i class="fa fa-trash"></i> </div>
</div>
