{{#if __generalError }}
    <p class="error">{{{ __generalError }}}</p>
{{/if}}

<div class="row form-group">
    <div class="col-xs-12">
        <p>In order to retrieve your User ID, please enter your email address. If the email matches our records, the User ID associated with your email address will be emailed to you.</p>
        <div class="pull-left col-xs-4">
            {{{ label 'Email Address' 'for:emailAddress' 'required' }}}
        </div>
        <div class="pull-left col-xs-6">
            {{{ textInput emailAddress 'class:form-control' 'id:emailAddress' 'name:emailAddress' }}}
            {{{ label errors.emailAddress 'class:error' 'for:emailAddress' }}}
        </div>
    </div>
</div>

<div class="row form-group">
    <button class="btn-u {{ SUBMIT }}" type="submit"
            {{#if SUBMIT_DISABLED}}
            disabled="disabled"
            {{/if}}
            >Submit</button>
    <button class="btn-u {{ RESET }}" type="reset">Reset</button>
</div>
