<h3>Success</h3>

{{#if MSG}}
    <p>{{ MSG }}</p>
{{else}}
    <p>Your information was sent successfully.</p>
{{/if}}

{{#if REPEAT_TEXT}}
    <p><a href="#" class="{{ REPEAT_CLASS }}">{{ REPEAT_TEXT }}</a></p>
{{/if}}
