<a href="#" class="user-menu dropdown-toggle" data-toggle="modal" data-target="#myModal">{{firstName}}</a>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">This is the view for User Info</h4>
      </div>
      <div class="modal-body">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" value="{{firstName}}">
        <label for="firstName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" value="{{lastName}}">
        <label for="firstName">Email Address:</label>
        <input type="text" class="form-control" id="emailAddress" value="{{email}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="user-info-save" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
