<!-- src/apps/navbar/partials/navbar-header.hbs -->
{{!-- right hand side user menu --}}
<div class="navbar-header pull-left">

    {{> navbar-header-brand name='Account Services'}}

    <!-- #section:basics/navbar.toggle -->

    <!-- /section:basics/navbar.toggle -->
</div>
