<!-- src/apps/navbar/partials/navbar-header-brand.hbs -->
{{!-- left hand side logo --}}
<!-- #section:basics/navbar.layout.brand -->
<a href="#home" class="navbar-brand">
    <small class="lighter">
        <img alt="OneAmerica logo" src="../images/oneamerica-word-mark.gif" />
        {{name}}
    </small>
</a>
<!-- /section:basics/navbar.layout.brand -->
