<!-- src/apps/navbar/partials/navbar-dropdown-usermenu.hbs -->
<li class="ace-nav-welcome">

    {{> navbar-dropdown-usermenu-user greeting=GREETING name=firstName }}

    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

        {{> navbar-dropdown-usermenu-item faType='user' link=CHANGE_USERID_ROUTE text='Change Your User ID'}}
        {{> navbar-dropdown-usermenu-item faType='user' link=CHANGE_PASSWORD_ROUTE text='Change Your Password'}}
        {{> navbar-dropdown-usermenu-item faType='user' link=UPDATE_SECURITY_INFO_ROUTE text='Update Security Information'}}
        {{#if SELECT_PRODUCER_ROUTE }}
            <li>
                <a href="#{{ SELECT_PRODUCER_ROUTE }}"><i class="ace-icon fa fa-user"></i>Select Producer</a>
            </li>
        {{/if}}
        <li>
            <a href="{{ LOGOUT_ROUTE }}"><i class="ace-icon fa fa-power-off"></i>Logout</a>
        </li>
    </ul>
</li>
