<!-- src/apps/navbar/partials/navbar-dropdown.hbs -->
{{!-- holds all the dropdown functionality --}}
<div class="navbar-buttons navbar-header pull-right" role="navigation">
    <ul class="nav ace-nav">

        {{> navbar-dropdown-usermenu }}

    </ul>



</div>
