<ul class="nav ace-nav">

            <li class="brand-blue">
                <a class="user-menu dropdown-toggle" href="#alert-messages">
                    <i class="icon-bell"></i>
                    <span >Alerts</span>
                </a>
            </li>


            <li class="brand-blue">

              {{> navbar-user-info-update }}





            </li>
</ul>
