<div class="row">
    <div class="col-xs-12">
        <p>Please select a producer you are acting as a delegate for by clicking one of the links below.</p>
        <p>You may change your selection as many times as you wish while on this page.</p>
        <p>You may also access this page directly using the user menu in the header above.</p>
        <ol class="{{ WRAPPER }}"></ol>
    </div>
</div>
