<li>
    {{#if active}}
        {{ producerName }} {{ producerTaxId }} (currently selected)
    {{ else }}
        <a class="{{ PRODUCER_LINK }}" data-id="{{ delegateProducerRelationshipID }}" href="#">{{ producerName }} {{ producerTaxId }}</a>
    {{/if}}
</li>
