<div class="row">
    <div class="col-xs-12">

        <table class="exampleTable">
            <thead>
                <tr>
                    <th>Header1</th>
                    <th>Plan Type</th>
                    <th>Class</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Traditional Term Life</td>
                    <td>
                        <a href="#">Traditional Term Life Certificate</a>
                        Basic Life, Basic AD&amp;D
                    </td>
                    <td>001</td>
                </tr>
                <tr>
                    <td>Traditional Term Life</td>
                    <td>
                        <a href="#">Traditional Term Life Policy</a>
                        Text here
                    </td>
                    <td>All</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
