<!-- src/apps/content/templates/content.hbs -->
<!-- This is the Layout used to hold the other views -->
<div class="main-content-inner">

    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#home">Home</a>
            </li>
        </ul>
    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>
                <small>
                    <span class="titleSpan"></span>
                </small>
            </h1>
        </div>

        <div class="container-fluid">
            {{!-- Each region should have an element here --}}
            <div class="{{ SECTION_CSS }} {{SECTION_JS}}"></div>
        </div><!-- /container -->

    </div><!-- /page-content -->

</div>
