<!-- src/apps/content/templates/faq-t.hbs -->
<div class="row">
    <div class="col-xs-12">

        <div class="well-white-border-top border-notch-white tab-header-section">
            <div class="row-fluid">
                <div class="span12">
                    <div class="tabbable tabs {{ data.shortTabs }}">
                        <div class="tab-content">
                            <h4>{{ data.faqContent.heading }}</h4>
                            {{{ data.faqContent.text }}}
                        </div>

                        <ul class="nav nav-tabs pull-right">
                            {{#each data.faqData }}
                                <li class="{{ positionCheck @first @last }}"><a href="#{{ id }}" data-toggle="tab">{{ @key }}</a></li>
                            {{/each}}
                        </ul>
                        <div style="clear: both"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content tab-content-section well-white-no-border no-padding-top">
            <div class="space-10"></div>
            <!-- need to indicate active below -->
            {{#each data.faqData as |item| }}
                <div class="tab-pane {{ activeCheck @first }}" id="{{ item.id }}">
                    {{#each item.items  }}
                        <dl class="faq">
                            <div class="col-xs-12"">
                                <div class="col-xs-1 faq-icon">
                                    <div class="label faq-question"> Q:</div>
                                </div>
                                <div class="col-xs-11">
                                    <dt>
                                        <a role="button" data-toggle="collapse" href="#{{ answerId }}">
                                            {{{ question }}}
                                        </a>
                                    </dt>
                                </div>
                            </div>

                            <div id="{{ answerId }}" class="collapse col-xs-12">

                                <div class="col-xs-1 faq-icon">
                                    <div class="label faq-answer"> A:</div>
                                </div>
                                <div class="col-xs-10">
                                    {{{ answer }}}
                                </div>
                            </div>
                        </dl>
                    {{/each}}
                </div>
            {{/each}}
        </div>

    </div>
</div>
