<!-- src/apps/content/templates/forms-t.hbs -->
<div class="row">
    <div class="col-xs-12">
        <div class="well-white-border-top border-notch-white">
            <div class="well-grey-no-border">
                <ul class="nav nav-tabs" id="myTab">
                    {{#each data.tabContent }}
                        <li class="{{ positionCheck @first @last }} {{ activeCheck @first }}">
                            <a class="eduTab {{ activeCheck @first }}" data-toggle="tab" href="#{{ id }}" id="{{ linkId }}"role="tab">
                                <h4>{{ title }}</h4>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="tab-content odit-bannerblue-wrapper">

            {{#each data.tabContent }}

                <div id="{{ id }}" class="tab-pane fade in {{ activeCheck @first }}" role="tabpanel">
                    <div>
                        {{{ children.info }}}
                    </div>

                    {{#each children.subItems }}
                        <div id="tabHeaderRegion">
                            <h3>{{ sectionTitle }}</h3>
                            {{#if sectionSubTitle}}
                                <h4>{{ sectionSubTitle }}</h4>
                            {{/if}}
                        </div>

                        <hr>
                        <div class="row-fluid">
                            <div id="tabContentItemsRegion">
                                <div>
                                    <div class="span4" id="tabCol1Region">
                                        <ul class="media-list">
                                            {{#each sectionItems }}
                                                <li class="media">
                                                    <a href="#" class="pull-left displayContent">
                                                        <i class="glyphicons glyphicons-{{ ../type }}"></i>
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="displayContent">
                                                            <h5 class="media-heading">{{{ primaryItem }}}</h5>
                                                        </a>
                                                        {{{ secondaryItem }}}
                                                    </div>
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
