<!-- src/apps/content/templates/home-t.hbs -->
{{#if __generalError }}
<div class="row">
    <div class="col-xs-12">
        <h3 class="error"><span class="emphasis">Error</span></h3>
        <p class="error">{{{ __generalError }}}</p>
    </div>
</div>
{{/if}}

Welcome to the Home Page of my Test
