<!-- src/apps/content/templates/login-t.hbs -->

{{#if __generalError }}
<div class="row">
    <div class="col-xs-12">
        <h3 class="error"><span class="emphasis">Error</span></h3>
        <p class="error">{{{ __generalError }}}</p>
    </div>
</div>
{{/if}}

<div class="row">
    <div class="col-xs-12">
        {{> content-basic-content }}
    </div>
</div>

<div class="form-group">
    {{{ label errors.general 'class:error' 'for:general' }}}
</div>

<form class="form-inline {{ LOGIN_FORM }}" id="loginForm" method="POST" action="/siteminderagent/forms/login.fcc">

	<span class="form-group">
		<label class="control-label" for="username">User ID</label>
		<input class="input-medium border-radius-none" type="text" id="username" name="USER" />
    </span>
    <span class="form-group">
		<label class="control-label password" for="password">Password</label>
		<input class="input-medium border-radius-none" type="password" id="password" name="PASSWORD"/>
    </span>

    <input type="hidden" name="target" value="{{ SM_TARGET }}" />
    <button class="btn-u {{ SUBMIT }}" type="submit">Login</button>
    <button class="btn-u {{ RESET }}" type="reset">Reset</button>
    <a class="btn-u pull-right" href="#{{ REGISTER_LINK }}" role="button"">Register Now</a>
</form>

<div class="row ">
    <div class="col-xs-12">
        <div style="padding-bottom: 20px;">
            <a href="#{{ FORGOT_PASSWORD_LINK }}" style="margin-right: 20px">Forgot your password?</a>
            <a href="#{{ FORGOT_USERID_LINK }}">Forgot your User ID?</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{> content-quicklinks }}
    </div>
</div>
