<!-- src/apps/content/templates/new-window-t.hbs -->
<div class="row">
    <div class="col-xs-12">

        <h4>The link you have selected should now be open in a new window/tab.</h4>
        <ul>
            <li>When you have finished navigating in that window or tab, you may close it.</li>
            <li>Please use the 'Home' link above to return to the homepage, or use the menu to make another selection.</li>
        </ul>

        <h4>Troubleshooting New Windows or Tabs</h4>
        <ul>
            <li>If you have popups blocked in our browser, the new window/tab may not open.</li>
            <li>Please check your browser settings and verify that you are allowing popups for this site.</li>
        </ul>
    </div>
</div>
