<!-- src/apps/content/templates/products-t.hbs -->
<div class="row">
    <div class="col-xs-12">
        {{> content-section-content }}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{> content-subsection-content }}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        {{#each data.gridContent }}
            <div class="well-white-border-top border-notch-white">

                <div class="well-grey-no-border">
                    <h4>{{{ heading }}}</h4>
                    <p>{{{ text }}}</p>

                    <div>
                        {{#mediaBlocks ../data.mediaBlock}}
                            {{> content-media-content }}
                        {{/mediaBlocks}}
                    </div>

                </div>
            </div>
        {{/each}}

    </div>
</div>
