<!-- src/apps/content/templates/training-t.hbs -->
<div class="row">
    <div class="col-xs-12">
        {{> content-section-content }}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{> content-subsection-content }}
    </div>
</div>
